# Ignore admin secret file
.admin_secret

# Ignore database info
postgre.md

# Ignore all .env files
.env
# Ignore all .env files in any directory
**/.env

# Ignore deploy script
script/deploy_to_vps.sh
