# Ignore admin secret file
.admin_secret

# Ignore .vscode directory
.vscode/

# Ignore database info
postgre.md

# Ignore all .env files
.env
# Ignore all .env files in any directory
**/.env

node_modules

*.tex
*.pdf

# For vuepress
**/dist/
**/.temp/
